.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
    background-color: black;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}
.abs-center {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	min-width: 20vh;
}
 
.form {
	width: 450px;
}

body {

	background: #66999 url(Imagenes/linea1.jpg) center center cover no-repeat fixed;

}

img#linea1.jpg {
        /* Rellenamos el fondo */
        min-height: 100%;
        min-width: 800px;
 
        /* Escalamiento proporcional */
        width: 100%;
        height: auto;
 
        /* Posicionamiento */
        position: fixed;
        top: 0;
        left: 0;
}
 
@media screen and (max-width: 800px) { /* Hacemos la búsqueda y si coincide modificamos las propiedades de la imagen */
        img#linea1.jpg {
                left: 50%;
                margin-left: -400px;   /* Agregamos un margen negativo que represente el 50% */
        }
}